.box {
  width: 10%;
  height: 100px;
}

.manager {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
}

.upload {
  display: flex;
  margin: 50px 20px;
}

img {
  width: 100%;
  height: 100%;
}
img#spinner {
  width: 50px;
  margin: -20px auto;
}
img#done {
  width: 90px;
  margin: -27px auto;
}

img#fail {
  width: 50px;
}
